{% extends "base.html" %}
{% block body %}


<div class="container mt-5">
<form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Add Receipe</h2><hr>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Receipe Name</label>
    <input type="text" class="form-control" name="receipe_name">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Receipe Description</label>
    <textarea class="form-control" name="receipe_description"></textarea>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Receipe Description</label>
    <input type="file" class="form-control" name="receipe_image">
  </div>
  <button type="submit" class="btn btn-success">Add Receipe</button>
</form>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Recipe Name</th>
      <th scope="col">Receipe Description</th>
      <th scope="col">Receipe Image</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for rec in Receipes %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{rec.receipe_name}}</td>
      <td>{{rec.receipe_description}}</td>
      <td>{{rec.receipe_image}}</td>
      <td>
        <a href="/delete_rec/{{rec.id}}/" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<!-- {{Receipe}} -->
</div>
  {% endblock %}